# Top-most EditorConfig file
root = true

[*]
charset = utf-8
# indent_size intentionally not specified in this section
indent_style = space
insert_final_newline = true
end_of_line = lf

# Source code
[*.{py,go,cs,ps1,psd1,psm1}]
indent_size = 4

# Shell scripts
[*.{sh,js,mjs}]
indent_size = 2

# grub setting
[grub/*]
indent_style = tab
indent_size = 2

# Markdown
[*.md]
indent_size = 2
